@page
@model FGC.BI.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="text-center p-5">
    <h1>Từ chối truy cập</h1>
    <p>
        Bạn không được phân quyền sử dụng chức năng này.
    </p>
</div>