@page
@model FGC.BI.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 mt-5">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center">
                    <h1>Đăng xuất</h1>
                    <p>
                        Bạn có chắc chắn muốn đăng xuất khỏi chương trình ?
                    </p>
                    <form method="post">
                        <button class="btn btn-primary" type="submit">
                            Đăng xuất
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
